/*  pagina home */
.home-container {
    width: 100%;
    padding: 0px;
    background-color: #fff;
  }
  
  /* Seção centralizada */
  .home-header {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  /* Titulo principal */
  .home-title {
    font-size: 4rem;
    font-weight: bold;
    color: #002147;
    margin-bottom: 1%;
  }
  
  /* Subtulo justificado */
  .home-subtitle {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  
  /* Barra de pesquisa */
  .home-search {
    display: flex;
    justify-content: center;
  }
  