.main-content {
    margin-left: 300px;
    padding: 1rem;
    min-height: 100vh;
  }

  .main-content h1 {
    margin-bottom: 1rem;
    color: #333;
  }
  
  .main-content ul {
    list-style: none;
    padding: 0;
  }
  
  .main-content li {
    background: #fff;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  
  @media (max-width: 1200px) {
    .main-content {
      margin-left: 0;
      padding: 1rem;
    }
  }
  