.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%; /* Largura fixa da sidebar */
  height: 100vh; /* Ocupa a altura total da tela */
  background-color: #00223b;
  color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 1rem 0;
}

@media (max-width: 1300px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: static;
  }
}
