.app-layout {
  display: flex;
  height: 100vh; /* Garante que o layout ocupe toda a altura da tela */
}

.sidebar {
  flex: 0 0 250px; /* Largura fixa da sidebar */
  background-color: #00223b;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1; /* O conteúdo principal ocupa o restante do espaço */
  padding: 1rem;
  background-color: #f8f9fa;
  overflow-y: auto; /* Garante rolagem quando necessário */
}
